{"filter":false,"title":"django.config","tooltip":"/.ebextensions/django.config","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":13,"column":0},"end":{"row":13,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0,"cleansed":true},"hash":"1a36b06a1a3c09621941fdd8c5952369dffb27ad","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1776085110862}