{"filter":false,"title":"swap.config","tooltip":"/.ebextensions/swap.config","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":8,"column":29},"action":"insert","lines":["commands:","  create_swap:","    command: |","      dd if=/dev/zero of=/swapfile bs=1M count=2048","      chmod 600 /swapfile","      mkswap /swapfile","      swapon /swapfile","      echo '/swapfile none swap sw 0 0' >> /etc/fstab","    test: test ! -f /swapfile"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":8,"column":29},"end":{"row":8,"column":29},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1776086082993,"hash":"521ec2eaff25ba4cf28382d2ee985fe3f0279c5e"}